:root {
    --background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(241,132,1,1) 100%);
    --background-container: #000000;
    --text: white;
}

:root {
    --cor-branca: #FFFFFF;
    --cor-do-texto: #ffffff;
    --cor-principal: #020209;
    --cor-secundaria: #287427;
    --cor-da-borda: #ffffff;
    --cor-do-botao: #287427;
    --cor-generate-button: #000000;
    --cor-dos-icones: #ffffff;
    /*  REALS: #241f29
        PLAYPIX: #090d1c
        DUPOC: #120c16 */
    --cor-background-plataform: #241f29;
  }